@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MinecraftRegular';
  src: url('/fonts/MinecraftRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal
}

@layer base {
  html {
    @apply font-pixel;
    @apply text-lg; /* Sets the base font size to small for the entire document */
  }
}
@layer base {
  html {
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: auto; /* Some browsers still render differently */
  }
}

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}
